body {
    background-color: #A0BCC2;
  }

  h1 , h3 {
      color: #bf6666;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 4px;
    width: 5%;

  }